<p>
    <mat-form-field appearance="fill">
      <mat-label>RUT</mat-label>
      <input matInput placeholder="RUT del Asesor" #rut (change)="updateRut($event)">
      <mat-hint>p.e. 111222333-0</mat-hint>
    </mat-form-field>
  </p>

<p>
    <mat-form-field appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput placeholder="Dirección de la PYME" #direccion (change)="updateDireccion($event)">
      <mat-hint>p.e. Bellavista #634, Santiago</mat-hint>
    </mat-form-field>
  </p>

<p>
    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput placeholder="Teléfono de la PYME" #telefono type="tel" (change)=" updateTelefono($event)">
      <mat-hint>p.e. +56 987 654 321</mat-hint>
    </mat-form-field>
  </p>

<p>
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre de la PYME" #nombre (change)="updateNombre($event)">
      <mat-hint>p.e. Matías Sepúlveda</mat-hint>
    </mat-form-field>
  </p>

<p>
    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="Correo de la PYME" #correo type="email" (change)="updateCorreo($event)">
      <mat-hint>{{ 'p.e. usuario@ejemplo.com' }}</mat-hint>
    </mat-form-field>
  </p>

  <p></p>
  <button (click)="this.createPyme()"> {{ this.BUTTON_NAME }}</button>
