<p>
    <mat-form-field appearance="fill">
      <mat-label>Id</mat-label>
      <input matInput placeholder="id" #id (change)="updateIdPyme($event)">
      <mat-hint>p.e. 000001</mat-hint>
    </mat-form-field>
  </p>


<p>
    <mat-form-field appearance="fill">
      <mat-label>RUT</mat-label>
      <input matInput placeholder="RUT del Asesor" #rut (change)="updateRut($event)">
      <mat-hint>p.e. 111222333-0</mat-hint>
    </mat-form-field>
  </p>

<p>
    <mat-form-field appearance="fill">
      <mat-label>direccion</mat-label>
      <input matInput placeholder="ireccion" #ireccion (change)="updateDireccion($event)">
      <mat-hint>p.e. Bellavista #634, Santiago</mat-hint>
    </mat-form-field>
  </p>

<p>
    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput placeholder="Teléfono del Asesor" #telefono type="tel" (change)=" updateTelefono($event)">
      <mat-hint>p.e. +56 987 654 321</mat-hint>
    </mat-form-field>
  </p>

<p>
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre del Asesor" #nombre (change)="updateNombre($event)">
      <mat-hint>p.e. Matías Sepúlveda</mat-hint>
    </mat-form-field>
  </p>

<p>
    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="Correo del Asesor" #correo type="email" (change)="updateCorreo($event)">
      <mat-hint>{{ 'p.e. usuario@ejemplo.com' }}</mat-hint>
    </mat-form-field>
  </p>

  <button (click)="this.createPyme()">AAA</button>
