<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="id_Pyme">
        <mat-header-cell *matHeaderCellDef> Pyme </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="id_Asesor">
        <mat-header-cell *matHeaderCellDef>Asesor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id_Asesor}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="fecha_Contratacion">
        <mat-header-cell *matHeaderCellDef> Fecha de contratacion </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fecha_Contratacion}} </mat-cell>
      </ng-container> 

      <!-- Symbol Column -->
      <ng-container matColumnDef="departamento">
        <mat-header-cell *matHeaderCellDef>Departamento</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.departamento}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="m_contratacion">
        <mat-header-cell *matHeaderCellDef> Modalidad contratacion </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.m_contratacion}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button color="warn" mat-raised-button>Editar</button>
            
            <button color="accent" 
                mat-raised-button 
                (click)="deletePerson(element)"

                >Eliminar</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  