<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
  
      <!-- rut Column -->
      <ng-container matColumnDef="rut">
        <mat-header-cell *matHeaderCellDef>Rut </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.rut}} </mat-cell>
      </ng-container>

      <!-- nombre Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
      </ng-container> 

      <!-- telefono Column -->
      <ng-container matColumnDef="telefono">
        <mat-header-cell *matHeaderCellDef> Telefono </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.telefono}} </mat-cell>
      </ng-container>

      <!-- correo Column -->
      <ng-container matColumnDef="correo">
        <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.correo}} </mat-cell>
      </ng-container>
      
      <!-- opciones Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <button mat-fab color="error"
          (click)="editAsesor(element.id)">
            <mat-icon aria-label="Delete icon" fontIcon="edit">edit</mat-icon>
          </button>
            
            <button mat-fab color="error"
            (click)="deleteAsesor(element)">
                <mat-icon aria-label="Delete icon" fontIcon="delete">delete</mat-icon>
            </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  