<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="Rut">
        <mat-header-cell *matHeaderCellDef>Rut </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Rut}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="Direccion">
        <mat-header-cell *matHeaderCellDef> Direccion </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Direccion}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Telefono">
        <mat-header-cell *matHeaderCellDef> Telefono </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Telefono}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Nombre}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Correo">
        <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Correo}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button color="warn" mat-raised-button>Editar</button>
            
            <button color="accent" 
                mat-raised-button 
                (click)="deletePerson(element)"

                >Eliminar</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  